:root {
    --bg-color: #f1f1f1;
    --bg-color-cv: #ffffff;
    --fg-color: #820ab0;  //carrer
    --fg-color-dark: #820ab0; //name
    --fg-color-body: #000000; //grammata
    --fg-color-title-sm: #f80fff; //den me ediaferei

}

[data-theme='dark'] {
    --bg-color: #ffffff;
    --bg-color-cv: #34065d;
    --fg-color: #c06df8;
    --fg-color-dark: #c06df8;
    --fg-color-body: rgba(255,255,255);
    --fg-color-title-sm: #f80fff;
}

